/* Your Website Styles */
.menu ul {
	list-style: none;
	background-color: #a61412;
	padding: 8px 0px;
	margin: 0px;
	text-align: center;
}

.menu li {
	padding: 20px;
	display: inline;
	font-size: 1.5em;
}

.menu a {
	color: black;
	transition: 1s all;
	padding: 20px;
}

.menu a:hover {
	text-decoration: underline;
	color: white;
	transition: .5s all;
}

footer {
	margin-top: 20px;
	text-align: left;
	padding-top: 20px;
}

a {
	text-decoration: none;

}

/* Palette CSS */

section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #fff;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	transition: all .5s;
}

.color-1 {
	background-color: #a61412;
}

.color-1:hover {
	height: 100px;
	width: 100px;
	transition: all .5s;
}

.color-2 {
	background-color: #fff;
}

.color-2:hover {
	height: 100px;
	width: 100px;
	transition: all .5s;
}

.color-3 {
	background-color: #000;
}

.color-3:hover {
	height: 100px;
	width: 100px;
	transition: all .5s;
}

/* My CSS */

body {
	background-color: black;
	color: white;
	font-family: 'Futura', sans-serif;
}

h1, h2 {
	color: white;
	font-family: 'Red October', sans-serif;
	background-color: black;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	-webkit-text-stroke: 2px #a61412;
}

h3 {
	color: #a61412;
	font-family: 'Futura', sans-serif;
	background-color: black;
	padding: 10px;

}

a {
	text-decoration: none;
	color: #a61412;
}

img {
	margin-top: 10px;
}

@font-face {
	font-family: 'Red October';
	src: url('../assets/red_october-regular-webfont.woff');
}